<p>dash-boards works!</p>
<!--The content below is only a placeholder and can be replaced.-->



<div style="text-align:center">
    <h1>
        <!-- Welcome to {{ title }}! -->
    </h1>

    <!-- First Row -->
    <div class="row  container-fluid ">
        <div class="col-4">
            <div class="shadow">
                <div class="col-md-12  card bg-warning rounded-lg">
                    <!-- <div class="card"> -->
                        <div class="card-body">
                            <div style="height: 250px;">
                                <a routerLink="adminstration" routerLinkActive="active" class="" target="_self">Adminstration</a>

                                <div style="overflow: hidden">
                                    <img width="60%" height="60%" src="https://www.infragistics.com/angular-demos/assets/images/card/media/audi.jpg">
                                </div>
                                <div class="img-blck img-blck1">
                                    <span class="fa fa-user-circle-o"></span><!-- <img class="Dashboard-icon" src="../resources/images/UI/admin.svg"> -->
                                </div>
                                <p>Allows you to create "Organization, Units, Users, Roles, and templates" and
                                    configure databases</p>

                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>



        <div class="col-4">
            <div class="shadow">
                <div class="col-md-12 card bg-warning rounded-circle">
                    <!-- <div class="card"> -->
                        <div class="card-body ">
                            <div style="height: 250px;">
                                <a routerLink="analytics" routerLinkActive="active">Analytics</a>
                                <div class="img-blck img-blck3">
                                    <span class="fa fa-bar-chart"></span> </div>
                                <p>Allows you to add graphs in Notebook and this will reflect in report builder </p>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="shadow">
                <div class="col-md-12 card bg-warning">
                    <div class="card">
                        <div class="card-body">
                            <div style="height: 250px;">
                                <a routerLink="designstudio" routerLinkActive="active">Design Studio</a>
                                <div class="img-blck img-blck5">
                                    <span class="fa fa-object-group"></span> </div>
                                <p>Visually designed to orchestrate the data pipelines and allows you to create
                                    pipelines and projects and provide connection</p>
                                <!-- <a class="btn btn-primary" href="#" >Go somewhere</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!-- Second Row -->



    <div class="row  container-fluid">
        <div class="col-4">
            <div class="shadow">
                <div class="col-md-12 card bg-warning">
                    <div class="card">
                        <div class="card-body">
                            <div style="height: 250px;">
                                <a routerLink="apigateways" routerLinkActive="active">Api GateWay</a>

                                <div class="img-blck img-blck2">
                                    <span class="fa fa-code-fork"></span></div>
                                <p>Allows you to generate dynamic end-to-end APIs and retrieve data from data source</p>
                            </div>

                            <!-- <a class="btn btn-primary" href="#" >Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-4">
            <div class="shadow">
                <div class="col-md-12 card bg-warning">
                    <div class="card">
                        <div class="card-body">
                            <div style="height: 250px;">
                                <a routerLink="search" routerLinkActive="active">Search</a>
                                <div class="img-blck img-blck6">
                                    <span class="fa fa-search"></span></div>
                                <p>Allows you to search simple or complex queries on huge amounts of data</p>
                            </div>
                            <!-- <a class="btn btn-primary" href="#" >Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="shadow">
                <div class="col-md-12 card bg-warning">
                    <div class="card">
                        <div class="card-body">
                            <div style="height: 250px;">
                                <a routerLink="graphes" routerLinkActive="active">Metrics</a>

                                <div class="img-blck img-blck4">
                                    <span class="fa fa-line-chart"></span></div>
                                <p>Displays status of users i.e. active / inactive along with status of pipelines such
                                    as running, stopped etc</p>
                            </div>
                            <!-- <a class="btn btn-primary" href="#" >Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>