<p>apihome works!</p>

<div style="text-align:center">
        <p>apigateway home works!</p>

<ul>
  <li> <a [routerLink]="['myservices']" [routerLinkActive]="['active']">Myservices</a> </li>
  <li> <a [routerLink]="['services']" [routerLinkActive]="['active']">Services</a> </li>
  <li> <a [routerLink]="['apimetrics']" [routerLinkActive]="['active']">Apimetrics</a> </li>
  <li> <a [routerLink]="['apiadmin']" [routerLinkActive]="['active']">Apiadmin</a> </li>
</ul>
   
    <router-outlet></router-outlet>
    
    
      </div>