
<div style="text-align:center">
        <p>designstudiohome works!</p>


        <ul>
            <li> <a [routerLink]="['project']" [routerLinkActive]="['active']">Project</a>   </li>
            <li> <a [routerLink]="['pipelineview']" [routerLinkActive]="['active']">Pipelineview</a>    </li>
            <li> <a [routerLink]="['pipelinedesigner']" [routerLinkActive]="['active']">Pipelinedesigner</a> </li>
            <li>  <a [routerLink]="['logs']" [routerLinkActive]="['active']">Logs</a> </li>
          </ul>



    
    <router-outlet></router-outlet>
    
      </div>


