<p>serachhome works!</p>
<div style="text-align:center">
        <p>serachhome works!</p>

        <ul>
            <li> <a [routerLink]="['searchpipelinprojects']" [routerLinkActive]="['active']">Searchpipelinprojects</a> </li>
            <li> <a [routerLink]="['searchuser']" [routerLinkActive]="['active']">Searchuser</a> </li>
            <li> <a [routerLink]="['searcrole']" [routerLinkActive]="['active']">Searcrole</a> </li>
          </ul>
    
      </div>

      <router-outlet></router-outlet>
     