
<div style="text-align:center">
<p>analyticshome works!</p>

<ul>

      <li><a [routerLink]="['dashboard']" [routerLinkActive]="['active']">Dashboard</a> </li>
      <li>  <a [routerLink]="['notebook']" [routerLinkActive]="['active']">Notebook</a>  </li>
      <li>  <a [routerLink]="['reportbuilder']" [routerLinkActive]="['active']">Reportbuilder</a>  </li>
      <li>    <a [routerLink]="['transactionmetrics']" [routerLinkActive]="['active']">Transaction metrics</a>  </li>  
        
       
      
</ul>

<router-outlet></router-outlet>

</div>